* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Spinner */
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

#load {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: none;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
    } 35% {
        -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
    } 
}

/* Body */
body {
    /* overflow-y: hidden; */
    /* background: #eef1f5; */
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/image/9.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    height: 100%;
}

/* Tela Inicial */
.texts-home {
    font-size: 4rem;
    line-height: 6rem;
}

.text-sol {
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.text-gar {
    color: #c3e438;
}

.text-cad {
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    text-decoration-color: #6b700c;
}

.text-rast {
    background: #c3e438;
    padding: 0 0.5rem;
    margin-left: .4rem;
}

.text-ts {
    background: #eef1f5;
    padding: 0 0.5rem;
    margin-left: .4rem;
}

.logoLink {
    background: #ffffff;
    padding: 1rem 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.greeDark {
    color: #6b700c;
}

.grayDark {
    color: rgb(71 85 105);
}

.nav-link {
    color: #eef1f5;
    font-size: 1.2rem;
}

.nav-link.active {
    color: #9fa709 !important;
}

.nav-link:hover {
    color: #b1b1b1;
}

.imgBlockchain img {
    animation: block360 60s linear infinite;
}

@keyframes block360 {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

#Cadastro,
#Consulta {
    display: none;
    background-color: #eef1f5;
    padding: 1.5rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

#informacaousuario {
    background-color: #eef1f5;
    padding: 1.5rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

#Sobre {
    display: none;
    color: #FFFFFF;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.heigthText {
    height: 77vh;
}

#informacaousuario,
#cadastroProdutor,
#produtoLabel,
#showProductsDiv {
    display: none;
}

#tableListAllUsers {
    display: none;
    height: 100vh;
}

#footer {
    position: relative;
    text-align: center;
    margin: 2rem;
    color: #FFFFFF;
}

#footer .linkSELVA {
    text-decoration: none;
    color: #c3e438;
}

#footer .linkSELVA-lgpd {
    text-decoration: none;
    color: #eef1f5;
}

#footer .linkSELVA:hover,
#footer .linkSELVA-lgpd:hover {
    text-decoration: underline;
}